@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<h2>Add Treat</h2>

<h4>Add a flavor to a treat:

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.TreatId)

    @Html.Label("Select Treat: ")
    @Html.DropDownList("FlavorId")

    <input type="submit" value="Save" class="btn btn-primary" />
  }

  <p>@Html.ActionLink("Back to list", "Index")</p>
