@* @{
  Layout = "_Layout";
}

@model PierresTreats.Models.Author

<h2>Add Book</h2>

<h4>Add book to author:

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.AuthorId)

    @Html.Label("Select Book: ")
    @Html.DropDownList("BookId")

    <input type="submit" value="Save" class="btn btn-primary" />
  }

  <p>@Html.ActionLink("Back to list", "Index")</p> *@
