@* <div class="offset-md-3 col-md-6">
  @{
    Layout = "_Layout";
  }

  @model PierresTreats.Models.Author
  <h4>Add a new Author</h4>

  @using (Html.BeginForm())
  {
    @Html.TextBoxFor(model => model.AuthorName, new { @class = "form-control", placeholder =
  @Html.DisplayNameFor(m=>m.AuthorName), required="required"})

    <input type="submit" value="Create" class="btn btn-primary" />
  }
  <p>@Html.ActionLink("Show all Authors", "Index")</p>
</div> *@