@* 
@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Author

<h2>Are you sure you want to delete this author?</h2>

@Html.DisplayNameFor(model => model.AuthorName): @Html.DisplayFor(model => model.AuthorName)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to List", "Index") *@
