@* @{
  Layout = "_Layout";
}

@using PierresTreats.Models;
@model IEnumerable<PierresTreats.Models.Author>;
  <h1>Authors:</h1>

  @if (Model.Any())
  {
    <ul>
      @foreach (Author author in Model)
      {
        <li>@Html.ActionLink($"{author.AuthorName}", "Details", new { id = author.AuthorId })</li>
      }
    </ul>
  } 
  else
  {
    <h3>No authors have been added yet!</h3>
  }

  <p>@Html.ActionLink("Add new author", "Create")</p>

  <p>@Html.ActionLink("Home", "Index", "Home")</p> *@
