@* @{
  Layout = "_Layout";
}
  <p>@Html.ActionLink("See all authors", "Index", "Authors")</p> <p>@Html.ActionLink("See all books", "Index", "Books")</p>
  <p>@Html.ActionLink("Create an account", "Register", "Account")</p> *@
