@* 
@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Patron

<h2>Are you sure you want to delete this patron?</h2>

@Html.DisplayNameFor(model => model.PatronName): @Html.DisplayFor(model => model.PatronName)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to List", "Index") *@
