@{
  Layout = "_Layout";
}

@using PierresTreats.Models;
@model IEnumerable<PierresTreats.Models.Flavor>;
<h1>Flavors:</h1>

<ul>
  @foreach (var flavor in ViewBag.Flavor)
  {
    <li>@Html.ActionLink($"{flavor.FlavorName}", "Details", new { id = flavor.FlavorId })</li>
  }
</ul>


<hr>
<div class="row">
  <div class="col-md-4"><a href='@Url.Action("Index", "Treats")' role="button" class="btn btn-dark">View All
      Treats</a>
  </div>
  <div class="col-md-4"><a href='@Url.Action("Create", "Flavors")' role="button" class="btn btn-dark">Add New
      Flavor</a>
  </div>
  <div class="col-md-4"><a href='@Url.Action("Index","Home")' role="button" class="btn btn-dark">Back To
      Homepage</a>
  </div>
</div>
