@* 
@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Book

<h2>Are you sure you want to delete this book?</h2>

@Html.DisplayNameFor(model => model.BookTitle): @Html.DisplayFor(model => model.BookTitle)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to List", "Index") *@
