@* @{
  Layout = "_Layout";
}

@using PierresTreats.Models;

<h1>Books</h1>

@if (@Model.Count == 0)
{
  <h3>No books have been added yet!</h3>
} 

<ul>
  @foreach(Book book in Model)
  {
    <li>@Html.ActionLink($"{book.BookTitle}", "Details", new { id = book.BookId })</li>
  }
</ul>

<p>@Html.ActionLink("Add new book", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p> *@
